*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} 
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 10%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#addTaskButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.task-text {
    flex: 1;
    font-weight: 600;
    font-size: 20px;
}

.remove-task {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.remove-task:hover {
    background-color: darkred;
}

.complete-task {
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.complete-task:hover {
    background-color: darkgreen;
}